<%= page_title('All Genres','', 'heading2') %>

<%= render AbcNavigateComponent.new(
  model: 'Genre',
  existing_scopes: current_scopes,
  sort_column: :name,
  current_letter: params[:letter]
  ) %>


<div class="flex">

  <%= link_to 'Reset sorting',
    genres_path(
      params: current_scopes.merge(
        letter: params[:letter],
        sort_by: nil,
        sort_dir: nil,
        show: params[:show]
      )
    ),
    class: 'button-color-secondary margin-right-50 small'
  %>

  <%= render SortComponent.new(
    model: 'Genre',
    field: :name,
    existing_scopes: current_scopes
  ) %>

  <%= render SortComponent.new(
    model: 'Genre',
    field: :created_at,
    existing_scopes: current_scopes
  ) %>

  <%= render SortComponent.new(
    model: 'Genre',
    field: :updated_at,
    existing_scopes: current_scopes
  ) %>

  <%= render SortComponent.new(
    model: 'Genre',
    field: :books_count,
    existing_scopes: current_scopes
  ) %>

</div>

<%= turbo_frame_tag 'page' %>
<div class="flexlist" id="genres">
  <% @genres.each do |genre| %>
    <%= render 'genrecard', genre: genre  %>
  <% end %>
</div>

<%= render 'shared/pager',
  pagy: @pagy,
  model_path: genres_path(
    params: current_scopes.merge(
      page: @pagy.next,
      letter: params[:letter],
      sort_by: params[:sort_by],
      sort_dir: params[:sort_dir],
      show: params[:show]
    )
) %>
