<%= page_title("#{@genre.name}", '', 'heading2') %>

<div class="flexlist">
  <h4 class="heading3">All Books in Genre</h4>
  <div class="icons">
    <%= render 'shared/delete_icon',
      delete_path: genre_path(@genre),
      item_name: @genre.name,
      url: "/genres/#{@genre.id}",
      redirect_url: '/genres',
      answer: 'html' %>
  </div>
</div>

<%= turbo_frame_tag 'page' %>
<ul class="itemlist margin-top-50" id="genre_books">
  <% @books.each do |book| %>
    <%= turbo_frame_tag book, class: "itemlist__border" do %>
      <li class="itemlist__item">
        <div class="itemlist__cover">
          <%= cover_image(book, size: "default") %>
        </div>
        <div class="itemlist__title">
          <%= link_to(
            book.title,
            book_path(book),
            data: { turbo_frame: "_top" }
            )%>
          (by <%= book.author.display_name %>)
        </div>
        <div class="itemlist__icons">
          <% if owner_signed_in? && book.owner == current_owner %>
            <%= render 'shared/crud_icons',
              edit_path: edit_book_path(book),
              delete_path: book_path(book),
              item_name: book.title,
              url: "/books/#{book.id}",
              redirect_url: '/books',
              edit_answer: 'html',
              delete_answer: 'turbo'
            %>
          <% end %>
        </div>
      </li>
    <% end %>
  <% end %>
</ul>

<%= render 'shared/pager', pagy: @pagy, model_path: genre_path(@genre, page: @pagy.next, show: 'list') %>
