<%= page_title("#{@genre.name}", '', 'heading2') %>

<div class="flexlist">
  <h4 class="heading3">
    <%= "#{t('Genres.show.title')} #{Book.model_name.human(count: 10)}" %>
  </h4>
  <div class="icons">
    <%= render 'shared/delete_icon',
      delete_path: genre_path(@genre),
      item_name: @genre.name,
      url: "/genres/#{@genre.id}",
      redirect_url: '/genres',
      answer: 'html' %>
  </div>
</div>

<%= turbo_frame_tag @genre do %>
  <%= render 'books/details_book', books: @books %>
  <%= render 'shared/pager', pagy: @pagy, model_path: genre_path(@genre, page: @pagy.next, list: 'books', show: 'list') %>
<% end %>
