<%= page_title(t('ScanQueues.index.title'), '', 'heading2') %>

<% if @scan_results.members.size < 1 %>
  <span>
    <%= t('ScanQueues.index.no_results') %>
    -
    <%= link_to t('ScanQueues.index.scan_some'),
      new_scan_queue_path,
      class: 'color-accent-dark color-hover-accent-light'
    %>
  </span>
<% else %>
  <p class="small margin-top-1">
    <%= t('ScanQueues.index.click_each') %>
  </p>
  <div class="flex margin-bottom-1">
    <div class="margin-right-33">
      <ul class="itemlist">
        <% @scan_results.members.each do |result | %>
          <%= turbo_frame_tag "queue-#{result}" do %>
            <li class="itemlist__item itemlist__border padding-1 icons">
              <%= form_with url: isbn_search_show_path, method: :post do |f| %>
                <%= f.hidden_field :isbn, value: result %>
                <%= f.submit "#{t('ScanQueues.index.submit_label')} #{result}",
                  class: "nobutton color-accent-dark color-hover-accent" %>
              <% end %>
                <%= button_to scan_queue_path(result),
                  method: :delete,
                  title: t('ScanQueues.index.delete_label'),
                  class: 'delete-icon nobutton' do %>
                    <%= inline_svg_tag 'delete.svg' %>
                <% end %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
    <div class="width-66 padding-33 border-color-primary border-radius-1 margin-top-1">
      <h3 class="heading3"><%= t('ScanQueues.index.result_title') %></h3>
      <%= turbo_frame_tag 'scan_queue_search_results' do %>
        <%= t('ScanQueues.index.click_left') %>
      <% end %>
    </div>
  </div>
<% end %>
