<%= turbo_frame_tag(profile) do %>
  <li class="itemlist__item">
    <div class="itemlist__cover">
      <%= avatar_image(profile, size: 'default') %>
    </div>
    <div class="itemlist__title">
      <%= link_to profile.name, profile %>
      (<%= profile.owner.books_count %> books)
    </div>
    <div class="itemlist__title">
      (Active since <%= profile.owner.created_at.strftime("%d-%b %Y") %>)
    </div>
    <div class="itemlist__icons">
      <div class="icons">
        <%= link_to new_user_destructions_path(profile),
          title: "Remove User",
          class: "delete-icon",
          data: { turbo_frame: "_top" } do %>
          <%= inline_svg_tag 'delete.svg' %>
        <% end %>
      </div>
    </div>
  </li>
<% end %>
