<%= turbo_frame_tag(profile) do %>
  <li class="itemlist__item">
    <div class="itemlist__cover">
      <%= render AvatarImageComponent.new(profile:) %>
    </div>
    <div class="itemlist__title">
      <%= link_to profile.name, profile %>
      (<%= pluralize(profile.owner.books_count, Book.model_name.human) %>)
    </div>
    <div class="itemlist__title">
      (<%= t('Profiles.profile.active') %>
      <%= profile.owner.created_at.strftime("%d-%b %Y") %>)
    </div>
    <div class="itemlist__icons">
      <div class="icons">
        <%= link_to new_user_destructions_path(profile),
          title: "Remove User",
          class: "delete-icon",
          data: { turbo_frame: "_top" } do %>
          <%= inline_svg_tag 'delete.svg' %>
        <% end %>
      </div>
    </div>
  </li>
<% end %>
