<%= page_title(t('Profiles.edit.title'),'', 'heading2') %>

  <%= simple_form_for @profile do |f| %>
    <%= render 'shared/form_errors', form: f %>

    <div class="big-form">
      <div class="form-col">
        <div class="cover-small">
          <%= render AvatarImageComponent.new(profile: @profile, size: :small) %>
        </div>
        <%= f.input :name ,
          placeholder: Profile.human_attribute_name('name'),
          label: false %>
        <h3 class="heading-4">
          <%= t('Profiles.edit.notifications') %>
        </h3>

        <div class='input checkbox-container'>
          <span class='check'>
            <%= f.check_box :book_notifications, class: 'hidden-button' %>
            <label id='label_remember_me' for='profile_book_notifications'>
              <span class='fake-button'>
              </span>
              <%= t('Profiles.edit.notify_books') %>
            </label>
          </span>
          <span class='check'>
            <%= f.check_box :author_notifications, class: 'hidden-button' %>
            <label id='label_remember_me' for='profile_author_notifications'>
              <span class='fake-button'>
              </span>
              <%= t('Profiles.edit.notify_authors') %>
            </label>
          </span>
          <span class='check'>
            <%= f.check_box :publisher_notifications, class: 'hidden-button' %>
            <label id='label_remember_me' for='profile_publisher_notifications'>
              <span class='fake-button'>
              </span>
              <%= t('Profiles.edit.notify_publishers') %>
            </label>
          </span>
          <span class='check'>
            <%= f.check_box :genre_notifications, class: 'hidden-button' %>
            <label id='label_remember_me' for='profile_genre_notifications'>
              <span class='fake-button'>
              </span>
              <%= t('Profiles.edit.notify_genres') %>
            </label>
          </span>
          <span class='check'>
            <%= f.check_box :job_notifications, class: 'hidden-button' %>
            <label id='label_remember_me' for='profile_job_notifications'>
              <span class='fake-button'>
              </span>
              <%= t('Profiles.edit.notify_jobs') %>
            </label>
          </span>
        </div>
        <div class='input checkbox-container'>

        </div>
      </div>
      <div
        class="form-col dropzone dropzone-default dz-clickable"
        data-controller="coverdrop"
        data-coverdrop-max-file-size="3"
        data-coverdrop-max-files="1"
      >
        <%= f.file_field :avatar, direct_upload: true,
          'data-coverdrop-target': 'input' %>
        <div class="dropzone-msg dz-message">
          <h3 class="dropzone-msg-title heading4 color-primary-dark">
            <%= t('Profiles.edit.avatar_drop') %>
          </h3>
          <span class="dropzone-msg-desc small color-primary-dark">
            <%= t('Profiles.edit.avatar_drop_comment') %>
          </span>
        </div>
      </div>
    </div>

    <%= f.button :submit %>
    <%= back_link %>
<% end %>

