<%= page_title('Edit your Profile','', 'heading2') %>

  <%= simple_form_for @profile do |f| %>
    <%= render 'shared/form_errors', form: f %>

    <div class="big-form">
      <div class="form-col">
        <div class="cover-small">
          <%= avatar_image(@profile, size: 'small') %>
        </div>
        <%= f.input :name , placeholder: 'Username', label: false %>
      </div>
      <div
        class="form-col dropzone dropzone-default dz-clickable"
        data-controller="coverdrop"
        data-coverdrop-max-file-size="3"
        data-coverdrop-max-files="1"
      >
        <%= f.file_field :avatar, direct_upload: true,
          'data-coverdrop-target': 'input' %>
        <div class="dropzone-msg dz-message">
          <h3 class="dropzone-msg-title heading4 color-primary-dark">Drag cover image here or click to browse</h3>
          <span class="dropzone-msg-desc small color-primary-dark">3 MB file size maximum. Allowed are only image file types.</span>
        </div>
      </div>
    </div>

    <%= f.button :submit %>
    <%= back_link %>
<% end %>

