<%= page_title(t('Profiles.edit.title'),'', 'heading2') %>

  <%= simple_form_for @profile do |f| %>
    <%= render 'shared/form_errors', form: f %>

    <div class="big-form">
      <div class="form-col">
        <div class="cover-small">
          <%= render AvatarImageComponent.new(profile: @profile, size: :small) %>
        </div>
        <%= f.input :name ,
          placeholder: t('Profiles.edit.name_placeholder'),
          label: false %>
      </div>
      <div
        class="form-col dropzone dropzone-default dz-clickable"
        data-controller="coverdrop"
        data-coverdrop-max-file-size="3"
        data-coverdrop-max-files="1"
      >
        <%= f.file_field :avatar, direct_upload: true,
          'data-coverdrop-target': 'input' %>
        <div class="dropzone-msg dz-message">
          <h3 class="dropzone-msg-title heading4 color-primary-dark">
            <%= t('Profiles.edit.avatar_cover') %>
          </h3>
          <span class="dropzone-msg-desc small color-primary-dark">
            <%= t('Profiles.edit.avatar_drag_comment') %>
          </span>
        </div>
      </div>
    </div>

    <%= f.button :submit %>
    <%= back_link %>
<% end %>

