<%= page_title('Reset Password','', 'heading2') %>

<%= form_with(model: @user, url: password_reset_path(params[:id])) do |f| %>
  <%= render 'shared/form_errors', form: f %>

  <%= hidden_field_tag :email, @user.email %>

  <div class="big-form">
    <div class="form-col">
      <div class="input">
        <%= f.password_field :password, placeholder: 'Password'%>
      </div>
      <div class="input">
        <%= f.password_field :password_confirmation, placeholder: 'Confirm Password'%>
      </div>
    </div>
  </div>

  <%= f.submit 'Update Password', class: 'btn' %>
<% end %>

