<nav class="tabs">
  <ul>
    <% shelf_menu(current_owner)[0..3].each do |item| %>
      <li class="placeholder-tab">&nbsp;</li>
      <li class="content-tab <%= item[:active] ? 'active' : '' %>">
        <%= link_to item[:name], item[:path] %>
      </li>
    <% end %>
    <li class="placeholder-tab">&nbsp;</li>
    <% if shelf_menu(current_owner).size > 4 %>
      <li class="content-tab dropdown">
        <%= link_to 'More...', '#', class: 'dropdown-label' %>
        <div class='dropdown-menu'>
          <ul class="dropdown-submenu">
            <% shelf_menu(current_owner)[4..-1].each do |item| %>
              <li class="<%= item[:active] ? 'submenu-active' : '' %>">
                <%= link_to item[:name], item[:path] %>
              </li>
            <% end %>
          </ul>
        </div>
      </li>
      <li class="placeholder-tab">&nbsp;</li>
    <% end %>
  </ul>
</nav>
<div class="alpha-list">
  <% ('a'..'z').each do |letter| %>
    <% if letter_map[letter] %>
      <% if params[:letter] == letter %>
        <span class="single-letter active"><%= letter.upcase %></span>
      <% else %>
        <span class="single-letter">
          <%= link_to letter.upcase, scoped_books_path(letter: letter) %>
        </span>
      <% end %>
    <% else %>
      <span class="single-letter"><%= letter.upcase %></span>
    <% end %>
  <% end %>
</div>
