<%= page_title('Settings', '', 'heading3') %>

<%= render 'settings/settings_menu' %>
  <div class="submenucontent">
    <h3 class="heading4">All Shelves</h3>
    <ul class="simple-list width-66 margin-bottom-1" id="shelves">
      <%= render 'new_form_entry' %>
      <% if @shelves.size > 0 %>
        <%= turbo_frame_tag 'shelf-list' do %>
          <%= render @shelves %>
        <% end %>
      <% else %>
        <div class="margin-top-1">No Shelves</div>
      <% end %>
    </ul>
  </div>
</div>
