<%= page_title('Settings', '', 'heading3') %>

<%= render 'settings/settings_menu' %>
  <div class="submenucontent">
    <h3 class="heading4">All Shelves</h3>
    <ul class="simple-list width-66" id="shelves">
      <%= render 'new_form_entry' %>
      <%= turbo_frame_tag 'shelf-list' do %>
        <%= render @shelves %>
      <% end %>
    </ul>
  </div>
</div>
