<%= page_title(t('Shelves.index.title'), '', 'heading3') %>

<%= render 'settings/settings_menu' %>
  <div class="submenucontent">
    <h3 class="heading4">
      <%= "#{t('Shelves.index.subtitle')} #{Shelf.model_name.human(count:10)}" %>
    </h3>
    <ul class="simple-list width-66 margin-bottom-1" id="shelves">
      <%= render 'new_form_entry' %>
      <% if @shelves.size > 0 %>
        <%= turbo_frame_tag 'shelf-list' do %>
          <%= render @shelves %>
        <% end %>
      <% else %>
        <div class="margin-top-1">
          <%= t('Shelves.index.no_shelves') %>
        </div>
      <% end %>
    </ul>
  </div>
</div>
