<%= page_title("Edit #{resource_name.to_s.humanize}",'', 'heading2') %>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render 'shared/form_errors', form: f %>

    <div class="big-form width-50">
      <div class="form-col">
        <%= f.input :email, autofocus: true %>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>
        <%= f.input :password,
          hint: "leave it blank if you don't want to change it",
          required: false,
          input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
          required: false,
          input_html: { autocomplete: "new-password" } %>
        <%= f.input :current_password,
            hint: "we need your current password to confirm your changes",
            input_html: { autocomplete: "current-password" } %>
      </div>
    </div>

    <%= f.button :submit, 'Update' %>
    <%= back_link %>
<% end %>
