<%= page_title('Sign Up','', 'heading2') %>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render 'shared/form_errors', form: f %>

  <div class='big-form width-50'>
    <div class='form-col'>
      <%= f.input :email,
                  autofocus: true,
                  input_html: { autocomplete: 'email' }%>
      <%= f.input :password,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: 'new-password' } %>
      <%= f.input :password_confirmation,
                  input_html: { autocomplete: 'new-password' } %>

      <%= f.button :submit, 'Sign up' %>
      <div class='margin-top-50 flexlist'>
        <%= render 'devise/shared/links' %>
      </div>
    </div>
  </div>
<% end %>

