<%= page_title("Are you sure you want to remove owner #{@owner.name}?", "Remove owner #{@owner.name}", 'heading2 color-error') %>

<div class="color-error margin-top-1">
  Apart from removing the owner's profile, you will need to decide what happens to
  <%= @owner.books.size %> books that are owned by this owner.
</div>

  <%= form_with url: user_destructions_path, method: :post do |f| %>
    <%= f.hidden_field :current_owner_id, value: @owner.id %>

    <div class="big-form">
      <div class="form-col enum_radio_buttons">
        <span class="radio">
          <%= f.radio_button :book_selection, 'transfer', class: 'hidden-button', checked: true %>
          <%= f.label :book_selection_transfer do %>
            <span class="fake-button">
            </span>
            Transfer books to new owner:
            <%= f.collection_select :transfer_to_owner,
              Owner.all_but(@owner.id).includes([:profile]), :email, :name, {},
              class: 'larger'
            %>
          <% end %>
        </span>
        <span class="radio">
          <%= f.radio_button :book_selection, 'delete', class: 'hidden-button' %>
          <%= f.label :book_selection_delete do %>
            <span class="fake-button">
            </span>
            Delete books from database
          <% end %>
        </span>
      </div>
    </div>

    <%= f.submit 'Confirm', class: 'btn btn-primary-dark' %>
    <%= back_link %>
<% end %>
