<%= page_title(
  "#{t('UserDestructions.new.title')} #{@owner.name}?",
  "#{t('UserDestructions.new.browser_title')} #{@owner.name}",
  'heading2 color-error')
%>

<div class="color-error margin-top-1">
  <%= t('UserDestructions.new.comment_a') %>
  <%= @owner.books_count %>
  <%= t('UserDestructions.new.comment_b') %>
</div>

  <%= form_with url: user_destructions_path, method: :post do |f| %>
    <%= f.hidden_field :current_owner_id, value: @owner.id %>

    <div class="big-form">
      <div class="form-col enum_radio_buttons">
        <span class="radio">
          <%= f.radio_button :book_selection, 'transfer', class: 'hidden-button', checked: true %>
          <%= f.label :book_selection_transfer do %>
            <span class="fake-button">
            </span>
            <%= t('UserDestructions.new.transfer_label') %>
            <%= f.collection_select :transfer_to_owner,
              Owner.all_but(@owner.id).includes([:profile]), :email, :name, {},
              class: 'larger'
            %>
          <% end %>
        </span>
        <span class="radio">
          <%= f.radio_button :book_selection, 'delete', class: 'hidden-button' %>
          <%= f.label :book_selection_delete do %>
            <span class="fake-button">
            </span>
            <%= t('UserDestructions.new.delete_label') %>
          <% end %>
        </span>
      </div>
    </div>

    <%= f.submit t('UserDestructions.new.confirm_label'), class: 'btn btn-primary-dark' %>
    <%= back_link %>
<% end %>
