<%= page_title(t('UnusedItems.index.title'),'', 'heading3') %>

<%= render 'settings/settings_menu' %>
  <div class="submenucontent">
    <h3 class="heading4">
      <%= t('UnusedItems.index.without_books', items: @model.humanize) %>
    </h3>
    <% if @items.size == 0 %>
      <div class="margin-bottom-1">
        <%= t('UnusedItems.index.none_found', items: pluralize(5, @model).gsub(/\d /,'')) %>
      </div>
      <%= back_link %>
    <% else %>
      <ul class="itemlist margin-bottom-1">
        <% @items.each do |item| %>
          <li class="itemlist__border padding-25"><%= item.name %></li>
        <% end %>
      </ul>
      <%= link_to "#{t('UnusedItems.index.delete_label')} #{pluralize(@items.size, @model)}",
        unused_item_path(1, items_in: @model, show: params[:show]),
        data: { turbo_method: :delete },
        class: 'form-cancel-button'
      %>
    <% end %>
  </div>
</div>


