<%= page_title("#{t('search.title')} '#{params[:query]}'",'', 'heading2') %>

<div class="tabs margin-top-1">
  <ul>
    <li class="placeholder-tab">&nbsp;</li>
    <li class="content-tab <%= params[:list] == 'books' ? 'active' : '' %>">
      <%= link_to t('search.tabs.books'), search_index_path(query: params[:query], show: 'list', list: 'books') %>
    </li>
    <li class="placeholder-tab">&nbsp;</li>
    <li class="content-tab <%= params[:list] == 'authors' ? 'active' : '' %>">
      <%= link_to t('search.tabs.authors'), search_index_path(query: params[:query], show: 'list', list: 'authors') %>
    </li>
    <li class="placeholder-tab">&nbsp;</li>
  </ul>
</div>


<%= turbo_frame_tag 'search_results' do %>
  <% if params[:list] == 'authors' %>
    <%= render 'authors/details_author', authors: @authors %>
    <%= render 'shared/pager', pagy: @pagy_authors,
      model_path: search_index_path(
        page: @pagy_authors.next,
        list: 'authors',
        show: 'list',
        query: params[:query]
      ) %>
  <% else %>
    <%= render 'books/details_book', books: @books %>
    <%= render 'shared/pager', pagy: @pagy,
      model_path: search_index_path(
        page: @pagy.next,
        list: 'books',
        show: 'list',
        query: params[:query]
      ) %>
  <% end %>
<% end %>
