<%= page_title(
  t('notifications.index.title'),
  '', 'heading2') %>

<div class="border-color-primary-dark border-radius-1 margin-top-1 padding-33">
  <div class="flex margin-top-1 flex-align-center">
    <h2 class="heading3 color-primary-dark">
      <%= t('notifications.index.new_title') %>
    </h2>
    <%= button_to read_notifications_path,
      method: :post,
      class: 'small nobutton margin-left-1 color-secondary-dark color-hover-secondary' do %>
      <%= t('notifications.index.mark_read') %>
    <% end %>
  </div>
  <% if @notifications.any? %>
    <%= render @notifications %>
  <% else %>
    <%= t('notifications.index.no_new') %>
  <% end %>
</div>

<% if @previous_notifications.any? %>
  <div class="border-color-primary-dark border-radius-1 padding-33 margin-top-1">
    <div class="flex margin-top-1 flex-align-center">
      <h2 class="heading3 color-primary-dark">
        <%= t('notifications.index.read_title') %>
      </h2>
      <%= button_to delete_all_notifications_path,
        method: :delete,
        class: 'small nobutton margin-left-1 color-secondary-dark color-hover-secondary' do %>
        <%= t('notifications.index.delete_all') %>
      <% end %>
    </div>
    <%= render(partial: 'notification', collection: @previous_notifications) %>
  </div>
<% end %>
