<%= turbo_frame_tag author, class: 'itemcard-big' do %>
    <div class="itemcard-big__cover">
      <%= render AuthorPortraitComponent.new(author: author, size: :medium) %>
    </div>
    <div class="itemcard-big__content">
    <% if owner_signed_in? %>
        <%= render 'shared/crud_icons',
          edit_path: edit_author_path(author),
          delete_path: author_path(author),
          item_name: author.display_name,
          url: "/authors/#{author.id}",
          redirect_url: '/authors',
          edit_answer: 'html',
          delete_answer: 'turbo'
        %>
      <% end %>
      <div class="itemcard-big__title">
        <h2 class="heading3">
          <%= link_to(
            author.display_name,
            author_path(author),
            data: { turbo_frame: "_top" }
            )%>
        </h2>
        <div class="gender"><%= render GenderIconComponent.new(author: author) %></div>
      </div>
      <div class="livingyear"><%= render LivingYearsComponent.new(author: author) %></div>
      <div class="books"><%= pluralize(author.books_count, 'Book') %></div>
      <div class="rating"><%= rating_stars(author.rating_before_type_cast) %></div>
    </div>
<% end %>
