  <%= simple_form_for author do |f| %>
    <%= render 'shared/form_errors', form: f %>
    <div class="big-form">
      <%= f.hidden_field :source, value: params[:source] %>
      <div class="form-col col-wide">
        <%= f.input :first_name, placeholder: 'First Name', label: false %>
        <%= f.input :last_name, placeholder: 'Last Name', label: false %>
        <%= params[:from] %>
        <div class="big-form">
          <div class="form-col">
            <%= f.input :born, placeholder: 'Birth Year', label: false %>
          </div>
          <div class="form-col">
            <%= f.input :died, placeholder: 'Death Year', label: false %>
          </div>
          <div class="form-col">
            <%= f.input :gender, collection: ['male', 'female'], label: false %>
          </div>
        </div>
        <div class="big-form">
          <div
            class="form-col col-wide dropzone dropzone-default dz-clickable"
            data-controller="coverdrop"
            data-coverdrop-max-file-size="3"
            data-coverdrop-max-files="1"
          >
            <%= f.file_field :portrait, direct_upload: true,
              'data-coverdrop-target': 'input' %>
            <div class="dropzone-msg dz-message">
              <h3 class="dropzone-msg-title heading4 color-primary-dark">Drag portrait image here or click to browse</h3>
              <span class="dropzone-msg-desc small color-primary-dark">3 MB file size maximum. Allowed are only image file types.</span>
            </div>
          </div>
          <div class="form-col">
            <%= portrait_image(author, size: "small") %>
          </div>
        </div>
      </div>
      <div class="form-col">
        <div class="big-form">
          <div class="form-col enum_radio_buttons">
            <div class="color-primary-dark margin-bottom-50">Author Rating</div>
            <% Author.ratings.each do |k,v| %>
              <span class="radio">
                <%= f.radio_button :rating, k.to_sym, class: 'hidden-button' %>
                <%= f.label :rating, id: "label_rating_#{k}", for: "author_rating_#{k}" do %>
                  <span class="fake-button">
                  </span>
                  <%= k.humanize %>
                <% end %>
              </span>
            <% end %>
          </div>
        </div>
        <div class="color-primary-dark margin-bottom-50 margin-top-50">Tags</div>
        <%= f.association(
          :tags, collection: Tag.where(owner_id: current_owner.id).order(:name),
          label: false,
          input_html:
            { data:
              {
                controller: 'tom-select-add',
                tom_select_add_url_value: '/tags'
              },
              placeholder: 'Tags'
            }
        ) %>
      </div>
    </div>
    <%= f.button :submit, 'data-action': 'click->portraitdrop#submitAll' %>
    <% if params[:source] == 'book' %>
      <%= link_to 'Cancel', '#', class: 'back_link', data: {action: 'click->modal#close'} %>
    <% else %>
      <%= back_link %>
    <% end %>
  <% end %>
