<%= form.input :first_name,
  placeholder: Author.human_attribute_name('first_name'),
  label: false %>
<%= form.input :last_name,
  placeholder: Author.human_attribute_name('last_name'),
  label: false %>
<%= params[:from] %>
<div class="big-form">
  <div class="form-col">
    <%= form.input :born,
      placeholder: Author.human_attribute_name('born'),
      label: false %>
  </div>
  <div class="form-col">
    <%= form.input :died,
      placeholder: Author.human_attribute_name('died'),
      label: false %>
  </div>
  <div class="form-col">
    <%= form.input :gender,
      collection: [t('Authors.required_fields.female'), t('Authors.required_fields.male')],
      label: false %>
  </div>
</div>
