
<%= page_title('', @author.display_name, 'heading2') %>

<div class="bookdetails">
  <div class="cover-large">
    <%= portrait_image(@author, size: "large") %>
  </div>
  <div class="bookdetails__text">
    <div class="bookdetails__text-title">
      <h1 class="heading3" style="">
        <%= @author.display_name %>
        <%= @author.decorate.gender_icon %>
      </h1>
        <% if owner_signed_in? %>
          <%= render 'shared/crud_icons',
            edit_path: edit_author_path(@author),
            delete_path: author_path(@author),
            item_name: @author.display_name,
            url: "/authors/#{@author.id}",
            redirect_url: '/authors',
            edit_answer: 'html',
            delete_answer: 'html'
          %>
        <% end %>
    </div>
    <div class="medium">
      <%= @author.decorate.living_years %>
    </div>
    <div class="tag-list">
      <% @author.tags.each do |t| %>
        <% if t.owner == current_owner %>
          <%= render 'tags/tag_tag', tag: t %>
        <% end %>
      <% end %>
    </div>
    <div class="bookdetails__meta">
      <div>
        Rating: <%= rating_stars(@author.rating_before_type_cast) %> (<%= @author.rating.humanize %>)
      </div>
    </div>
  </div>
</div>

<% if @books.size == 0 %>
  <div>
    (No books by this author in the database)
  </div>
<% else %>
  <h2 class="heading3">Books</h2>

  <%= turbo_frame_tag 'page' %>
  <ul class="itemlist margin-top-50" id="author_books">
    <% @books.each do |book| %>
      <%= turbo_frame_tag book, class: "itemlist__border" do %>
        <li class="itemlist__item">
          <div class="itemlist__cover">
            <%= cover_image(book, size: "default") %>
          </div>
          <div class="itemlist__title">
            <%= link_to(
              book.title,
              book_path(book),
              data: { turbo_frame: "_top" }
              )%>
          </div>
          <div class="itemlist__icons">
            <% if owner_signed_in? && book.owner == current_owner %>
              <%= render 'shared/crud_icons',
                edit_path: edit_book_path(book),
                delete_path: book_path(book),
                item_name: book.title,
                url: "/books/#{book.id}",
                redirect_url: '/books',
                edit_answer: 'html',
                delete_answer: 'turbo'
              %>
            <% end %>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>

  <%= render 'shared/pager', pagy: @pagy, model_path: author_path(@author, page: @pagy.next, show: 'list') %>
<% end %>


