<%= turbo_frame_tag(user) do %>
  <li class="itemlist__item">
    <div class="itemlist__cover">
      <%= avatar_image(user, size: 'default') %>
    </div>
    <div class="itemlist__title">
      <%= link_to user.name, user %>
      (<%= user.books_count %> books)
    </div>
    <div class="itemlist__title">
      (Active since <%= user.activated? ? user.activated_at.strftime("%d-%b-%Y") : 'not activated' %>)
    </div>
    <div class="itemlist__icons">
      <%= render 'shared/crud_icons',
        edit_path: edit_user_path(user),
        delete_path: user_path(user),
        item_name: user.name,
        url: "/users/#{user.id}",
        redirect_url: "/users",
        answer: "turbo"
      %>
    </div>
  </li>
<% end %>
