<%= turbo_frame_tag(user) do %>
  <li class="itemlist__item">
    <div class="itemlist__cover">
      <%= avatar_image(user, size: 'default') %>
    </div>
    <div class="itemlist__title">
      <%= link_to user.name, user %>
      (<%= user.books_count %> books)
    </div>
    <div class="itemlist__title">
      (Active since <%= user.activated? ? user.activated_at.strftime("%d-%b-%Y") : 'not activated' %>)
    </div>
    <div class="itemlist__icons">
      <div class="icons">
        <%= link_to new_user_destructions_path(user),
          title: "Remove User",
          class: "delete-icon",
          data: { turbo_frame: "_top" } do %>
          <%= inline_svg_tag 'delete.svg' %>
        <% end %>
      </div>
    </div>
  </li>
<% end %>
