<div class="userdetails">
  <div class="cover-medium">
    <%= avatar_image(@user, size: 'medium') %>
  </div>
  <div class="userdetails__text">
    <div class="userdetails__title">
      <h1 class="heading3">
        Profile Page for <%= @user.name %>
      </h1>
    </div>
    <div class="userdetails__details">
      More details here
    </div>
    <% if @user == current_user %>
      <div class="userdetails__buttons">
        <%= link_to 'Edit my Profile', edit_user_path(@user) , class: 'btn btn-primary' %>
        <%= link_to 'Logout', logout_path, class: 'btn btn-primary' %>
        <%= button_to 'Delete my Profile', user_path(@user), method: :delete, class: 'btn btn-error' %>
      </div>
    <% end %>
</div>
