<%= page_title("Profile for #{@user.name}", '', 'heading3') %>

<div class="userdetails">
  <div class="cover-medium">
    <%= avatar_image(@user, size: 'medium') %>
  </div>
  <div class="userdetails__text">
    <div class="userdetails__title">
      <h1 class="heading3">
        <%= @user.name %>
      </h1>
    </div>
    <div class="userdetails__details">
      Registered <%= time_ago_in_words(@user.created_at) %> ago
    </div>
    <% if @user == current_user %>
      <div class="userdetails__buttons">
        <%= link_to 'Edit my Profile', edit_user_path(@user) , class: 'btn btn-primary' %>
        <%= link_to 'Change my Password', edit_user_path(@user), class: 'btn btn-primary' %>
        <%= link_to 'Logout', logout_path, class: 'btn btn-primary' %>
        <%= link_to 'Delete my Profile', new_user_destructions_path(@user), class: 'btn btn-error' %>
      </div>
    <% end %>
</div>
