<%= page_title(t('.change_your_password'),'', 'heading2') %>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render 'shared/form_errors', form: f %>

  <%= f.input :reset_password_token, as: :hidden %>
  <%= f.full_error :reset_password_token %>

  <div class='big-form width-50'>
    <div class='form-col'>
      <%= f.input :password,
                  placeholder: t('.new_password'),
                  label: false,
                  required: true,
                  autofocus: true,
                  hint: (t('devise.shared.minimum_password_length', count: @minimum_password_length) if @minimum_password_length),
                  input_html: { autocomplete: 'new-password' } %>
      <%= f.input :password_confirmation,
                  placeholder: t('.confirm_new_password'),
                  label: false,
                  required: true,
                  input_html: { autocomplete: 'new-password' } %>
      <%= f.button :submit, t('.change_my_password') %>
      <div class='margin-top-50 flexlist'>
        <%= render 'devise/shared/links' %>
      </div>
    </div>
  </div>
<% end %>
