<%= page_title('Change Your Password','', 'heading2') %>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render 'shared/form_errors', form: f %>

  <%= f.input :reset_password_token, as: :hidden %>
  <%= f.full_error :reset_password_token %>

  <div class='big-form width-50'>
    <div class='form-col'>
      <%= f.input :password,
        placeholder: 'New password',
        label: false,
        autofocus: true,
        hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
        input_html: { autocomplete: 'new-password' } %>
      <%= f.input :password_confirmation,
        placeholder: 'Confirm your new password',
        label: false,
        input_html: { autocomplete: "new-password" } %>
      <%= f.button :submit, 'Change my password' %>
      <div class='margin-top-50 flexlist'>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
<% end %>
