<%= page_title('Forgot your Password?','', 'heading2') %>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render 'shared/form_errors', form: f %>

  <div class='big-form width-50'>
    <div class='form-col'>
      <%= f.input :email,
        placeholder: 'E-Mail',
        autofocus: true,
        input_html: { autocomplete: "email" },
        label: false %>

      <%= f.button :submit, "Send me reset password instructions" %>
      <div class='margin-top-50 flexlist'>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
<% end %>

