<%= page_title(t('.forgot_your_password'),'', 'heading2') %>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render 'shared/form_errors', form: f %>

  <div class='big-form width-50'>
    <div class='form-col'>
      <%= f.input :email,
                  label: false,
                  placeholder: t('.email'),
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: 'email' } %>
      <%= f.button :submit, t('.send_me_reset_password_instructions') %>
      <div class='margin-top-50 flexlist'>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
<% end %>
