<footer class="footer">
  <p>
    <%= render 'books/books_count' %>
    from
    <%= render 'publishers/publishers_count' %>
    by
    <%= render 'authors/authors_count' %>,
    across
    <%= render 'genres/genres_count' %>
    in
    <%= render 'shelves/shelves_count' %>
    for
    <%= render 'profiles/profiles_count' %>.
  </p>
</footer>
