<footer class="footer">
  <p>
    <%= render 'books/books_count' %>
    <%= t 'Footer.from' %>
    <%= render 'publishers/publishers_count' %>
    <%= t 'Footer.by' %>
    <%= render 'authors/authors_count' %>,
    <%= t 'Footer.across' %>
    <%= render 'genres/genres_count' %>
    <%= t 'Footer.in' %>
    <%= render 'shelves/shelves_count' %>
    <%= t 'Footer.for' %>
    <%= render 'profiles/profiles_count' %>.
  </p>
</footer>
