<footer class="footer">
  <p>
    <%= books_count %> Books
    from <%= publishers_count %> Publishers
    by <%= authors_count %> Authors,
    across <%= genres_count %> Genres
    in <%= shelves_count %> Shelves
    for <%= owners_count %> Owners.
  </p>
</footer>
