<section class="title">
  <div class="title__container">
    <div class="burgermenu">
      <a href="#" data-action="click->burgermenu#toggle">&#x2261;</a>
    </div>
    <div class="maintitle">
      <div class="title-with-icons">
        <h1 class="heading1"><%= t 'title.maintitle' %></h1>
        <div class="righticons">
          <%= link_to '#' do %>
            <%= inline_svg_tag 'bell.svg', class: 'icon' %>
          <% end %>
          <%= link_to 'EN', '#', class: 'icon-locale' %>
        </div>
      </div>
      <div class="quickicons">
        <span class="quickicons__filler"></span>
        <% if owner_signed_in? %>
          <%= link_to new_scan_queue_path, title: t('title.quickicons.scan') do %>
            <%= inline_svg_tag 'qr_code.svg', class: 'bigicon' %>
          <% end %>
          <%= link_to isbn_search_new_path, title: t('title.quickicons.search') do %>
            <%= inline_svg_tag 'doc_search.svg', class: 'bigicon' %>
          <% end %>
          <%= link_to new_book_path, title: t('title.quickicons.add') do %>
            <%= inline_svg_tag 'book.svg', class: 'bigicon' %>
          <% end %>
        <% end %>
        <%= link_to login_or_owner_path, title: t('title.quickicons.profile') do %>
          <% if current_owner&.profile&.avatar&.attached? %>
            <%= render AvatarImageComponent.new(
              profile: current_owner.profile,
              classes: 'bigicon circle-image'
            ) %>
          <% else %>
            <%= inline_svg_tag 'profile.svg', class: 'bigicon' %>
          <% end %>
        <% end %>
        <% if owner_signed_in? %>
          <%= link_to settings_path, title: t('title.quickicons.settings') do %>
            <%= inline_svg_tag 'settings.svg', class: 'bigicon' %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</section>
