<section class="title">
  <div class="title__container">
    <div class="burgermenu">
      <a href="#" data-action="click->burgermenu#toggle">&#x2261;</a>
    </div>
    <div class="maintitle">
      <h1 class="heading1">Book Collector Database UZW18</h1>
      <div class="quickicons">
        <span class="quickicons__filler"></span>
        <a href="#" title="scan book">
          <%= inline_svg_tag 'qr_code.svg', class: 'bigicon' %>
        </a>
        <%= link_to new_book_path, title: 'Add Book' do %>
          <%= inline_svg_tag 'book.svg', class: 'bigicon' %>
        <% end %>
        <%= link_to login_or_owner_path, title: 'My Profile' do %>
          <%= inline_svg_tag 'profile.svg', class: 'bigicon' %>
        <% end %>
        <% if owner_signed_in? %>
          <%= link_to settings_path, title: 'Settings' do %>
            <%= inline_svg_tag 'settings.svg', class: 'bigicon' %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</section>
