<% if current_owner %>
  <div class="righticons">
    <div class="right-dropdown">
      <%= link_to '#', id: 'messageslink' do %>
        <%= inline_svg_tag 'bell.svg', class: 'icon' %>
      <% end %>
      <ul class="messagesmenu">
        <% if current_owner.profile.notifications.unread.any? %>
          <% current_owner.profile.notifications.newest_first.unread[0..4].includes([:recipient]).each do |n| %>
          <li>
              <%= link_to n.to_notification.message,
                n.to_notification.url  %>
          </li>
          <% end %>
        <% else %>
          <li>No unread messages</li>
        <% end %>
        <li class="bg-secondary-light">
          <%= link_to 'All Messages',
            notifications_path,
            class: 'margin-top-33'
          %>
        </li>
      </ul>
    </div>
    <div class="right-dropdown">
      <%= render 'profiles/localemenu' %>
      <ul class="localesmenu">
        <li>
          <%= render LocaleComponent.new(
            locale: 'en',
            profile: current_owner.profile
          ) %>
        </li>
        <li>
          <%= render LocaleComponent.new(
            locale: 'de',
            profile: current_owner.profile
          ) %>
        </li>
      </ul>
    </div>
  </div>
<% end %>
