<% if current_owner %>
  <div class="righticons">
    <div class="right-dropdown">
      <%= turbo_stream_from :public_notifications %>
      <%= turbo_frame_tag 'notifications' do %>
        <%= render 'notifications/top_index',
          notifications: current_owner.profile.notifications.includes([:recipient]).newest_first.unread[0..4] %>
      <% end %>
    </div>
    <% if request.method == "GET" %>
      <div class="right-dropdown">
        <%= render 'profiles/localemenu' %>
        <ul class="localesmenu">
          <li>
            <%= render LocaleComponent.new(
              locale: 'en',
              profile: current_owner.profile
            ) %>
          </li>
          <li>
            <%= render LocaleComponent.new(
              locale: 'de',
              profile: current_owner.profile
            ) %>
          </li>
        </ul>
      </div>
    <% end %>
  </div>
<% end %>
