<% if current_owner %>
  <div class="righticons">
    <div class="right-dropdown">
      <%= link_to '#', id: 'messageslink' do %>
        <%= inline_svg_tag 'bell.svg', class: 'icon' %>
      <% end %>
      <ul class="messagesmenu">
        <li><a href="#">Message 1</a></li>
        <li><a href="#">Message 2</a></li>
      </ul>
    </div>
    <div class="right-dropdown">
      <%= render 'profiles/localemenu' %>
      <ul class="localesmenu">
        <li>
          <%= render LocaleComponent.new(
            locale: 'en',
            profile: current_owner.profile
          ) %>
        </li>
        <li>
          <%= render LocaleComponent.new(
            locale: 'de',
            profile: current_owner.profile
          ) %>
        </li>
      </ul>
    </div>
  </div>
<% end %>
