  <%= simple_form_for publisher do |f| %>
    <%= render 'shared/form_errors', form: f %>
    <div class="big-form">
      <div class="form-col col-wide">
        <%= f.input :name,
          placeholder: Publisher.human_attribute_name('name'),
          label: false %>
        <%= f.input :location,
          placeholder: Publisher.human_attribute_name('location'),
          label: false %>
      </div>
    </div>
    <%= f.button :submit %>
    <%= back_link %>
  <% end %>
