  <%= simple_form_for publisher do |f| %>
    <%= render 'shared/form_errors', form: f %>
    <div class="big-form">
      <div class="form-col col-wide">
        <%= f.input :name,
          placeholder: t('Publishers.form.name_placeholder'),
          label: false %>
        <%= f.input :location,
          placeholder: t('Publishers.form.location_placeholder'),
          label: false %>
      </div>
    </div>
    <%= f.button :submit %>
    <%= back_link %>
  <% end %>
