<%= turbo_frame_tag publisher, class: 'itemcard-big min-width-25 max-width-33' do %>
  <div class="itemcard-big__content">
    <% if owner_signed_in? %>
      <%= render 'shared/crud_icons',
        edit_path: edit_publisher_path(publisher),
        delete_path: publisher_path(publisher),
        item_name: publisher.name,
        url: "/publishers/#{publisher.id}",
        redirect_url: '/publishers',
        edit_answer: 'html',
        delete_answer: 'turbo'
      %>
    <% end %>
    <div class="itemcard-big__title">
      <h2 class="heading3">
        <%= publisher.name %>
      </h2>
    </div>
    <div class="itemcard-big__listcontent margin-top-25">
      <ul class="itemlist margin-bottom-50">
      <% publisher.books.first(5).each do |book| %>
        <%= render 'books/booklist_small', book: book %>
      <% end %>
      </ul>
      <ul>
    </div>
    <div class="itemcard-big__footer margin-top-33 margin-bottom-33">
      <%= render ShowMoreComponent.new(
        model: 'Publisher',
        id: publisher.id,
        items: publisher.books
      ) %>
    </div>
  </div>
<% end %>
