<%= page_title(
  "#{t('Publishers.index.title')} #{Publisher.model_name.human}",
  '',
  'heading2'
) %>

<%= render AbcNavigateComponent.new(
  model: 'Publisher',
  existing_scopes: current_scopes,
  sort_column: :name,
  current_letter: params[:letter]
  ) %>

<div class="flex">
  <%= link_to "#{t('Publishers.index.add_label')} #{Publisher.model_name.human}",
    new_publisher_path,
    class: 'button-color-accent margin-right-50 small'
  %>

  <%= link_to t('Publishers.index.reset_sorting'),
    publishers_path(
      params: current_scopes.merge(
        letter: params[:letter],
        sort_by: nil,
        sort_dir: nil,
        show: params[:show]
      )
    ),
    class: 'button-color-secondary margin-right-50 small'
  %>

  <%= render SortComponent.new(
    model: 'Publisher',
    field: :name,
    existing_scopes: current_scopes
  ) %>

  <%= render SortComponent.new(
    model: 'Publisher',
    field: :location,
    existing_scopes: current_scopes
  ) %>

  <%= render SortComponent.new(
    model: 'Publisher',
    field: :created_at,
    existing_scopes: current_scopes
  ) %>

  <%= render SortComponent.new(
    model: 'Publisher',
    field: :updated_at,
    existing_scopes: current_scopes
  ) %>

  <%= render SortComponent.new(
    model: 'Publisher',
    field: :books_count,
    existing_scopes: current_scopes
  ) %>

</div>

<%= turbo_frame_tag 'page' %>

<div class="flexlist" id="publishers">
  <% @publishers.each do |publisher| %>
    <%= render 'publishercard', publisher: publisher  %>
  <% end %>
</div>

<%= render 'shared/pager',
  pagy: @pagy,
  model_path: publishers_path(
    params: current_scopes.merge(
      page: @pagy.next,
      letter: params[:letter],
      sort_by: params[:sort_by],
      sort_dir: params[:sort_dir],
      show: params[:show]
    )
) %>
