<%= page_title("#{@publisher.name}", '', 'heading2') %>

<div class="flexlist">
  <h4 class="heading3"><%= @publisher.location %></h4>
  <%= render 'shared/crud_icons',
    edit_path: edit_publisher_path(@publisher),
    delete_path: publisher_path(@publisher),
    item_name: @publisher.name,
    url: "/publishers/#{@publisher.id}",
    redirect_url: '/publishers',
    edit_answer: 'html',
    delete_answer: 'html'
  %>
</div>

<%= turbo_frame_tag @genre do %>
  <%= render 'books/details_book', books: @books %>
  <%= render 'shared/pager', pagy: @pagy, model_path: publisher_path(@publisher, page: @pagy.next, list: 'books', show: 'list') %>
<% end %>
