<div class="submenugrid">
  <div class="submenu">
    <ul>
      <li><a href="#">Shelves</a></li>
      <li>
        <%= link_to(
          'Book Formats',
          book_formats_path,
          params[:controller] == 'book_formats' ? { class: 'active' } : {}
        ) %>
      </li>
      <li>
        <%= link_to(
          'Genres',
          genres_path(show: 'settings'),
          params[:controller] == 'genres' ? { class: 'active' } : {}
        ) %>
      </li>
      <li>
        <%= link_to(
          'Tags',
          tags_path(show: 'settings'),
          params[:controller] == 'tags' && params[:action] == 'settings' ? { class: 'active' } : {}
        ) %>
      </li>
      <% if current_user&.admin %>
        <li>
          <%= link_to(
            'Tag Admin',
            '#',
            params[:controller] == 'tags' && params[:action] == 'admin' ? { class: 'active' } : {}
          )%>
        </li>
        <li>
          <%= link_to(
            'Users',
            users_path,
            params[:controller] == 'users' ? { class: 'active' } : {}
          ) %>
        </li>
        <li>
          <%= link_to(
            'Bulk Actions',
            bulk_actions_settings_path,
            params[:controller] == 'settings' && params[:action] == 'bulk_actions' ? { class: 'active' } : {}
          ) %>
        </li>
      <% end %>
    </ul>
  </div>
