<div class="submenugrid">
  <div class="submenu">
    <ul>
      <li>
        <%= link_to(
          'Shelves',
          shelves_path,
          params[:controller] == 'shelves' ? { class: 'active' } : {}
        ) %>
      </li>
      <li>
        <%= link_to(
          'Book Formats',
          book_formats_path,
          params[:controller] == 'book_formats' ? { class: 'active' } : {}
        ) %>
      </li>
      <li>
        <%= link_to(
          'Genres',
          genres_path(show: 'settings'),
          params[:controller] == 'genres' ? { class: 'active' } : {}
        ) %>
      </li>
      <li>
        <%= link_to(
          'Tags',
          tags_path(show: 'settings'),
          params[:controller] == 'tags' && params[:show] == 'settings' ? { class: 'active' } : {}
        ) %>
      </li>
      <% if current_member&.admin %>
        <li>
          <!-- this needs to link to the members index for admins -->
          <%= link_to(
            'Owners',
            '#',
            params[:controller] == 'owners' ? { class: 'active' } : {}
          ) %>
        </li>
        <li>
          <%= link_to(
            'Bulk Actions',
            bulk_actions_settings_path,
            params[:controller] == 'settings' && params[:action] == 'bulk_actions' ? { class: 'active' } : {}
          ) %>
        </li>
      <% end %>
    </ul>
  </div>
