<div class="submenugrid">
  <div class="submenu">
    <ul>
      <li>
        <%= link_to(
          t('Settings.menu.shelves'),
          shelves_path,
          params[:controller] == 'shelves' ? { class: 'active' } : {}
        ) %>
      </li>
      <li>
        <%= link_to(
          t('Settings.menu.book_formats'),
          book_formats_path,
          params[:controller] == 'book_formats' ? { class: 'active' } : {}
        ) %>
      </li>
      <li>
        <%= link_to(
          t('Settings.menu.genres'),
          genres_path(show: 'settings'),
          params[:controller] == 'genres' ? { class: 'active' } : {}
        ) %>
      </li>
      <li>
        <%= link_to(
          t('Settings.menu.tags'),
          tags_path(show: 'settings'),
          params[:controller] == 'tags' && params[:show] == 'settings' ? { class: 'active' } : {}
        ) %>
      </li>
      <% if current_owner&.admin %>
        <li>
          <!-- this needs to link to the members index for admins -->
          <%= link_to(
            t('Settings.menu.owners'),
            profiles_path,
            params[:controller] == 'profiles' ? { class: 'active' } : {}
          ) %>
        </li>
        <li>
          <%= link_to(
            t('Settings.menu.bulk'),
            bulk_actions_settings_path,
            params[:controller] == 'settings' && params[:action] == 'bulk_actions' ? { class: 'active' } : {}
          ) %>
        </li>
      <% end %>
    </ul>
  </div>
