<%= page_title('Settings','', 'heading3') %>

<%= render 'settings_menu' %>
  <div class="submenucontent">
    <h3 class="heading4">Bulk Actions</h3>
    <ul class="simple-list width-50">
      <li><a href="#">Remove Authors without Books</a></li>
      <li>
        <%= link_to 'Remove Publishers without Books', publishers_path(show: 'unused') %>
      </li>
      <li>
        <%= link_to 'Remove empty Shelves', shelves_path(show: 'unused') %>
      </li>
      <li>
        <%= link_to 'Remove Genres without Books', genres_path(show: 'unused') %>
      </li>
      <li>
        <%= link_to 'Remove Tags not used', tags_path(show: 'unused') %>
      </li>
    </ul>
  </div>
</div>
