<%= page_title('Settings','', 'heading3') %>

<%= render 'settings_menu' %>
  <div class="submenucontent">
    <h3 class="heading4">Bulk Actions</h3>
    <ul class="simple-list width-50">
      <li>
        <%= link_to 'Remove Authors without Books',
          unused_items_path(items_in: 'Author', show: 'no_books') %>
      </li>
      <li>
        <%= link_to 'Remove Publishers without Books',
          unused_items_path(items_in: 'Publisher', show: 'no_books') %>
      </li>
      <li>
        <%= link_to 'Remove empty Shelves',
          unused_items_path(items_in: 'Shelf', show: 'no_books') %>
      </li>
      <li>
        <%= link_to 'Remove Genres without Books',
          unused_items_path(items_in: 'Genre', show: 'no_books') %>
      </li>
      <li>
        <%= link_to 'Remove Tags not used',
          unused_items_path(items_in: 'Tag', show: 'no_taggings') %>
      </li>
    </ul>
  </div>
</div>
