<%= turbo_frame_tag book, class: "itemlist__border" do %>
  <li class="itemlist__item">
    <div class="itemlist__cover">
      <%= render BookCoverComponent.new(book: book) %>
    </div>
    <div class="itemlist__title">
      <%= link_to(
        book.title,
        book_path(book),
        data: { turbo_frame: "_top" }
        )%>
      <%= render AuthorListComponent.new(book: book, type: :by) %>
    </div>
    <div class="itemlist__icons">
      <% if owner_signed_in? && book.owner == current_owner %>
        <%= render 'shared/crud_icons',
          edit_path: edit_book_path(book),
          delete_path: book_path(book),
          item_name: book.title,
          url: "/books/#{book.id}",
          redirect_url: '/books',
          edit_answer: 'html',
          delete_answer: 'turbo'
        %>
      <% end %>
    </div>
  </li>
<% end %>
