<%= turbo_frame_tag book, class: 'itemcard-big' do %>
    <div class="itemcard-big__cover">
      <%= cover_image(book, size: "medium") %>
    </div>
    <div class="itemcard-big__content">
    <% if logged_in? && book.user == current_user %>
        <%= render 'shared/crud_icons',
          edit_path: edit_book_path(book),
          delete_path: book_path(book),
          item_name: book.title,
          url: "/books/#{book.id}",
          redirect_url: '/books',
          edit_answer: 'html',
          delete_answer: 'turbo'
        %>
      <% end %>
      <div class="itemcard-big__title">
        <h2 class="heading3">
          <%= link_to(
            book.title,
            book_path(book),
            data: { turbo_frame: "_top" }
            )%>
        </h2>
        <div class="bookyear"><%= book.year %></div>
      </div>
      <div class="author"><%= book.author.display_name %></div>
      <div class="publisher"><%= book.publisher.name %></div>
      <div class="genre-list">
        <% book.genres.each do |g| %>
          <%= render 'genres/genre_tag', genre: g %>
        <% end %>
      </div>
      <%= trunc_synopsis(book) %>
    </div>
<% end %>
