<%= turbo_frame_tag book, class: 'itemcard-big' do %>
    <div class="itemcard-big__cover">
      <%= cover_image(book, size: "medium") %>
    </div>
    <div class="itemcard-big__content">
    <% if logged_in? %>
        <%= render 'shared/crud_icons',
          edit_path: edit_book_path(book),
          delete_path: book_path(book),
          item_name: book.title,
          url: "/books/#{book.id}",
          redirect_url: "/books",
          answer: "turbo",
          use_turbo: true
        %>
      <% end %>
      <div class="itemcard-big__title">
        <h2 class="heading3">
          <%= link_to(
            book.title,
            book_path(book),
            data: { turbo_frame: "_top" }
            )%>
        </h2>
        <div class="bookyear"><%= book.year %></div>
      </div>
      <div class="author">Author Name</div>
      <div class="publisher">Publisher Name</div>
      <div class="genre-list">
        <span class="genre">
          <a href="#">
            <svg xmlns="http://www.w3.org/2000/svg" class="smallicon" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M7 7h.01M7 3h5c.512 0 1.024.195 1.414.586l7 7a2 2 0 010 2.828l-7 7a2 2 0 01-2.828 0l-7-7A1.994 1.994 0 013 12V7a4 4 0 014-4z" />
            </svg>
            Genre 1
          </a>
        </span>
        <span class="genre">
          <a href="#">
            <svg xmlns="http://www.w3.org/2000/svg" class="smallicon" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M7 7h.01M7 3h5c.512 0 1.024.195 1.414.586l7 7a2 2 0 010 2.828l-7 7a2 2 0 01-2.828 0l-7-7A1.994 1.994 0 013 12V7a4 4 0 014-4z" />
            </svg>
            Genre 2
          </a>
        </span>
        <span class="genre">
          <a href="#">
            <svg xmlns="http://www.w3.org/2000/svg" class="smallicon" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M7 7h.01M7 3h5c.512 0 1.024.195 1.414.586l7 7a2 2 0 010 2.828l-7 7a2 2 0 01-2.828 0l-7-7A1.994 1.994 0 013 12V7a4 4 0 014-4z" />
            </svg>
            Genre 3
          </a>
        </span>
      </div>
      <%= trunc_synopsis(book) %>
    </div>
<% end %>
