<%= turbo_frame_tag book, class: 'itemcard-big' do %>
    <div class="itemcard-big__cover">
      <%= cover_image(book, size: "medium") %>
    </div>
    <div class="itemcard-big__content">
    <% if logged_in? && book.user == current_user %>
        <%= render 'shared/crud_icons',
          edit_path: edit_book_path(book),
          delete_path: book_path(book),
          item_name: book.title,
          url: "/books/#{book.id}",
          redirect_url: "/books",
          answer: "html",
          use_turbo: true
        %>
      <% end %>
      <div class="itemcard-big__title">
        <h2 class="heading3">
          <%= link_to(
            book.title,
            book_path(book),
            data: { turbo_frame: "_top" }
            )%>
        </h2>
        <div class="bookyear"><%= book.year %></div>
      </div>
      <div class="author">Author Name</div>
      <div class="publisher">Publisher Name</div>
      <div class="genre-list">
        <span class="genre">
          <a href="#">
            <%= inline_svg_tag 'tag.svg', class: 'smallicon' %>
            Genre 1
          </a>
        </span>
        <span class="genre">
          <a href="#">
            <%= inline_svg_tag 'tag.svg', class: 'smallicon' %>
            Genre 2
          </a>
        </span>
        <span class="genre">
          <a href="#">
            <%= inline_svg_tag 'tag.svg', class: 'smallicon' %>
            Genre 3
          </a>
        </span>
      </div>
      <%= trunc_synopsis(book) %>
    </div>
<% end %>
