  <%= simple_form_for book do |f| %>
    <%= render 'shared/form_errors', form: f %>
    <div class="big-form" data-controller="add-sub-form">
      <div class="form-col col-wide">
        <%= f.input :title, placeholder: 'Book Title', label: false %>
        <%= f.input :original_title, placeholder: 'Original Title', label: false %>
        <div class="big-form flex-align-center">
          <div class="form-col">
            <h2 class="heading4 color-primary-dark">Select Authors...</h2>
          </div>
          <% if params[:action] == 'new' %>
            <div class="form-col">
              <%= link_to '...or add an Author',
              '#',
              class: 'button-color-primary text-center',
              data: {
                action: 'click->add-sub-form#toggle',
                add_sub_form_target: 'togglebutton'
              } %>
              <div class="small margin-top-25">
                You can select authors first on the left and then click above
                button to add new ones.
              </div>
            </div>
          <% end %>
        </div>
        <div class="form-col" data-add-sub-form-target="selectmenu">
          <%= f.association(
            :authors,
            label: false,
            collection: Author.order(:sort_name),
            label_method: :display_name, value_method: :id,
            prompt: 'Authors...',
            input_html:
              { data:
                {
                  controller: 'tom-select',
                },
                placeholder: 'Authors',
                class: 'width-100'
              }
          ) %>
        </div>
        <% if params[:action] == 'new' %>
          <div id="authorform" data-add-sub-form-target="subform" class="hidden">
            <div
              class="form-col border-color-primary-dark padding-33 border-radius-1 small margin-top-1"
              data-controller="another-sub-form"
              id="0"
            >
              <h2 class="heading4 color-primary-dark">Add New Author</h2>
              <%= f.fields_for :authors do |form| %>
                <%= render 'authors/required_fields_form', form: form %>
                <%= link_to 'Add another Author...',
                '#',
                class: 'button-color-primary text-center width-33',
                data: { action: 'click->another-sub-form#addform'} %>
              <% end %>
            </div>
          </div>
        <% end %>
        <div class="big-form">
          <div class="form-col">
            <%= f.association(
              :publisher,
              collection: Publisher.order(:name),
              label: false,
              input_html:
                { data:
                  {
                    controller: 'tom-select-add',
                    tom_select_add_url_value: '/publishers'
                  },
                  placeholder: 'Publisher'
                }
            ) %>
          </div>
          <div class="form-col">
            <%= f.input :year, placeholder: 'Year', label: false %>
          </div>
          <div class="form-col">
            <%= f.input :country,
              priority: ['United States', 'Germany', 'Switzerland', 'United Kingdom'],
              prompt: 'Country...',
              label: false,
              input_html: {
                data: {
                  controller: 'tom-select'
                },
                placeholder: 'Country',
              }
            %>
          </div>
        </div>
        <div class="big-form">
          <div class="form-col">
            <%= f.input :edition, placeholder: 'Edition', label: false %>
          </div>
          <div class="form-col">
            <%= f.association(
              :book_format,
              collection: BookFormat.order(:name),
              label: false,
              input_html:
                { data:
                  {
                    controller: 'tom-select-add',
                    tom_select_add_url_value: '/book_formats'
                  },
                  placeholder: 'Book Format'
                }
            ) %>
          </div>
        </div>
        <div class="big-form">
          <div
            class="form-col col-wide dropzone dropzone-default dz-clickable"
            data-controller="coverdrop"
            data-coverdrop-max-file-size="3"
            data-coverdrop-max-files="1">
            <%= f.file_field :cover, direct_upload: true,
              'data-coverdrop-target': 'input' %>
            <div class="dropzone-msg dz-message">
              <h3 class="dropzone-msg-title heading4 color-primary-dark">Drag cover image here or click to browse</h3>
              <span class="dropzone-msg-desc small color-primary-dark">3 MB file size maximum. Allowed are only image file types.</span>
            </div>
          </div>
          <div class="form-col">
            <%= render BookCoverComponent.new(book: book, size: :small) %>
          </div>
        </div>
        <div class="rich-text-input">
          <h4 class="heading4 color-primary-dark">Synposis</h4>
          <%= f.rich_text_area :synopsis %>
        </div>
      </div>
      <div class="form-col">
        <div class="big-form">
          <div class="form-col enum_radio_buttons">
            <div class="color-primary-dark margin-bottom-50">Book Rating</div>
            <% Book.ratings.each do |k,v| %>
              <span class="radio">
                <%= f.radio_button :rating, k.to_sym, class: 'hidden-button' %>
                <%= f.label :rating, id: "label_rating_#{k}", for: "book_rating_#{k}" do %>
                  <span class="fake-button"></span>
                  <%= k.humanize %>
                <% end %>
              </span>
            <% end %>
          </div>
          <div class="form-col enum_radio_buttons">
            <div class="color-primary-dark margin-bottom-50">Book Condition</div>
            <% Book.conditions.each do |k,v| %>
              <span class="radio">
                <%= f.radio_button :condition, k.to_sym, class: 'hidden-button' %>
                <%= f.label :condition, id: "label_condition_#{k}", for: "book_condition_#{k}" do %>
                  <span class="fake-button"></span>
                  <%= k.humanize %>
                <% end %>
              </span>
            <% end %>
          </div>
        </div>
        <div class="color-primary-dark margin-bottom-50 margin-top-50">Genres</div>
        <%= f.association(
          :genres,
          collection: Genre.order(:name),
          label: false,
          input_html:
            { data:
              {
                controller: 'tom-select-add',
                tom_select_add_url_value: '/genres'
              },
            }
        ) %>
        <div class="color-primary-dark margin-bottom-50 margin-top-50">Tags</div>
        <%= f.association(
          :tags, collection: Tag.where(owner_id: current_owner.id).order(:name),
          label: false,
          input_html:
            { data:
              {
                controller: 'tom-select-add',
                tom_select_add_url_value: '/tags'
              },
            }
        ) %>
        <div class="color-primary-dark margin-bottom-50 margin-top-50">Shelf</div>
        <%= f.association(
          :shelf, collection: Shelf.where(owner_id: current_owner.id).order(:name),
          label: false,
          input_html:
            { data:
              {
                controller: 'tom-select-add',
                tom_select_add_url_value: '/shelves'
              },
            }
        ) %>
      </div>
    </div>
    <%= f.button :submit, 'data-action': 'click->coverdrop#submitAll' %>
    <%= back_link %>
  <% end %>
