  <%= simple_form_for book do |f| %>
    <%= render 'shared/form_errors', form: f %>
    <div class="big-form" data-controller="add-sub-form">
      <div class="form-col col-wide">
        <%= f.input :title,
          placeholder: t('Books.form.title_placeholder'),
          label: false %>
        <%= f.input :original_title,
          placeholder: t('Books.form.original_placeholder'),
          label: false %>
        <div class="big-form flex-align-center">
          <div class="form-col">
            <h2 class="heading4 color-primary-dark">
              <%= t('Books.form.select_authors') %>
            </h2>
          </div>
          <% if params[:action] == 'new' %>
            <div class="form-col">
              <%= link_to t('Books.form.add_author'),
              '#',
              class: 'button-color-primary text-center',
              data: {
                action: 'click->add-sub-form#toggle',
                add_sub_form_target: 'togglebutton'
              } %>
              <div class="small margin-top-25">
                <%= t('Books.form.select_authors_comment') %>
              </div>
            </div>
          <% end %>
        </div>
        <div class="form-col" data-add-sub-form-target="selectmenu">
          <%= f.association(
            :authors,
            label: false,
            collection: Author.order(:sort_name),
            label_method: :display_name, value_method: :id,
            prompt: t('Books.form.select_authors_prompt'),
            input_html:
              { data:
                {
                  controller: 'tom-select',
                },
                placeholder: t('Books.form.authors_placeholder'),
                class: 'width-100'
              }
          ) %>
        </div>
        <% if params[:action] == 'new' %>
          <div id="authorform" data-add-sub-form-target="subform" class="hidden">
            <div
              class="form-col border-color-primary-dark padding-33 border-radius-1 small margin-top-1"
              data-controller="another-sub-form"
              id="0"
            >
              <h2 class="heading4 color-primary-dark">
                <%= t('Books.form.new_author_title') %>
              </h2>
              <%= f.fields_for :authors do |form| %>
                <%= render 'authors/required_fields_form', form: form %>
                <%= link_to t('Books.form.new_author_link'),
                '#',
                class: 'button-color-primary text-center width-33',
                data: { action: 'click->another-sub-form#addform'} %>
              <% end %>
            </div>
          </div>
        <% end %>
        <div class="big-form">
          <div class="form-col">
            <%= f.association(
              :publisher,
              collection: Publisher.order(:name),
              label: false,
              input_html:
                { data:
                  {
                    controller: 'tom-select-add',
                    tom_select_add_url_value: '/publishers'
                  },
                  placeholder: t('Books.form.publisher_placeholder')
                }
            ) %>
          </div>
          <div class="form-col">
            <%= f.input :year, placeholder: 'Year', label: false %>
          </div>
          <div class="form-col">
            <%= f.input :country,
              priority: ['United States', 'Germany', 'Switzerland', 'United Kingdom'],
              prompt: t('Books.form.country_prompt'),
              label: false,
              input_html: {
                data: {
                  controller: 'tom-select'
                },
                placeholder: t('Books.form.country_placeholder'),
              }
            %>
          </div>
        </div>
        <div class="big-form">
          <div class="form-col">
            <%= f.input :edition,
              placeholder: t('Books.form.edition_placeholder'),
              label: false %>
          </div>
          <div class="form-col">
            <%= f.association(
              :book_format,
              collection: BookFormat.order(:name),
              label: false,
              input_html:
                { data:
                  {
                    controller: 'tom-select-add',
                    tom_select_add_url_value: '/book_formats'
                  },
                  placeholder: t('Books.form.book_format_placeholder')
                }
            ) %>
          </div>
        </div>
        <div class="big-form">
          <div
            class="form-col col-wide dropzone dropzone-default dz-clickable"
            data-controller="coverdrop"
            data-coverdrop-max-file-size="3"
            data-coverdrop-max-files="1">
            <%= f.file_field :cover, direct_upload: true,
              'data-coverdrop-target': 'input' %>
            <div class="dropzone-msg dz-message">
              <h3 class="dropzone-msg-title heading4 color-primary-dark">
                <%= t('Books.form.cover_drag') %>
              </h3>
              <span class="dropzone-msg-desc small color-primary-dark">
                <%= t('Books.form.cover_drag_comment') %>
              </span>
            </div>
          </div>
          <div class="form-col">
            <%= render BookCoverComponent.new(book: book, size: :small) %>
          </div>
        </div>
        <div class="rich-text-input">
          <h4 class="heading4 color-primary-dark">
            <%= t('Books.form.synopsis') %>
          </h4>
          <%= f.rich_text_area :synopsis %>
        </div>
      </div>
      <div class="form-col">
        <div class="big-form">
          <div class="form-col enum_radio_buttons">
            <div class="color-primary-dark margin-bottom-50">
              <%= t('Books.form.rating') %>
            </div>
            <% Book.ratings.each do |k,v| %>
              <span class="radio">
                <%= f.radio_button :rating, k.to_sym, class: 'hidden-button' %>
                <%= f.label :rating, id: "label_rating_#{k}", for: "book_rating_#{k}" do %>
                  <span class="fake-button"></span>
                  <%= k.humanize %>
                <% end %>
              </span>
            <% end %>
          </div>
          <div class="form-col enum_radio_buttons">
            <div class="color-primary-dark margin-bottom-50">
              <%= t('Books.form.condition') %>
            </div>
            <% Book.conditions.each do |k,v| %>
              <span class="radio">
                <%= f.radio_button :condition, k.to_sym, class: 'hidden-button' %>
                <%= f.label :condition, id: "label_condition_#{k}", for: "book_condition_#{k}" do %>
                  <span class="fake-button"></span>
                  <%= k.humanize %>
                <% end %>
              </span>
            <% end %>
          </div>
        </div>
        <div class="color-primary-dark margin-bottom-50 margin-top-50">
          <%= t('Books.form.genres') %>
        </div>
        <%= f.association(
          :genres,
          collection: Genre.order(:name),
          label: false,
          input_html:
            { data:
              {
                controller: 'tom-select-add',
                tom_select_add_url_value: '/genres'
              },
            }
        ) %>
        <div class="color-primary-dark margin-bottom-50 margin-top-50">
          <%= t('Books.form.tags') %>
        </div>
        <%= f.association(
          :tags, collection: Tag.where(owner_id: current_owner.id).order(:name),
          label: false,
          input_html:
            { data:
              {
                controller: 'tom-select-add',
                tom_select_add_url_value: '/tags'
              },
            }
        ) %>
        <div class="color-primary-dark margin-bottom-50 margin-top-50">
          <%= t('Books.form.shelf') %>
        </div>
        <%= f.association(
          :shelf, collection: Shelf.where(owner_id: current_owner.id).order(:name),
          label: false,
          input_html:
            { data:
              {
                controller: 'tom-select-add',
                tom_select_add_url_value: '/shelves'
              },
            }
        ) %>
      </div>
    </div>
    <%= f.button :submit, 'data-action': 'click->coverdrop#submitAll' %>
    <%= back_link %>
  <% end %>
