<%= render AbcNavigateComponent.new(
  model: 'Book',
  existing_scopes: current_scopes,
  sort_column: :sort_title,
  current_letter: params[:letter]
  ) %>

<%= page_title(
  render(BookIndexTitleComponent.new(params:)),
  '', 'heading2') %>

<div class="flex">

  <%= link_to 'Reset sorting',
    books_path(
      params: current_scopes.merge(
        letter: params[:letter],
        sort_by: nil,
        sort_dir: nil,
        show: params[:show]
      )
    ),
    class: 'button-color-secondary margin-right-50 small'
  %>

  <%= render SortComponent.new(
    model: 'Book',
    field: :sort_title,
    existing_scopes: current_scopes
  ) %>

  <%= render SortComponent.new(
    model: 'Book',
    field: :created_at,
    existing_scopes: current_scopes
  ) %>

  <%= render SortComponent.new(
    model: 'Book',
    field: :updated_at,
    existing_scopes: current_scopes
  ) %>

  <%#= render SortComplexComponent.new(
    model: 'Book',
    field: :sort_name,
    existing_scopes: current_scopes,
    associated_model: 'Author'
  ) %>

  <%= render SortComponent.new(
    model: 'Book',
    field: :year,
    existing_scopes: current_scopes
  ) %>

  <%#= render SortComponent.new(
    model: 'Book',
    field: :publisher,
    existing_scopes: current_scopes
  ) %>

  <%= render SortComponent.new(
    model: 'Book',
    field: :rating,
    existing_scopes: current_scopes
  ) %>

  <%= render SortComponent.new(
    model: 'Book',
    field: :condition,
    existing_scopes: current_scopes
  ) %>

</div>

<%= turbo_frame_tag 'page' %>

<%= render ShowTypeComponent.new(model: 'Book', existing_scopes: current_scopes) %>

<% if params[:show] == 'list' %>
  <ul class="itemlist" id="books">
    <%= render @books %>
  </ul>
<% else %>
  <div class="flexlist" id="books">
    <%= render @books %>
  </div>
<% end %>


<%#= render 'shared/pager', pagy: @pagy, model_path: books_path(page: @pagy.next, show: params[:show]) %>
<%= render 'shared/pager',
  pagy: @pagy,
  model_path: books_path(
    params: current_scopes.merge(
      page: @pagy.next,
      letter: params[:letter],
      sort_by: params[:sort_by],
      sort_dir: params[:sort_dir],
      show: params[:show]
    )
)%>
