<%= render AbcNavigateComponent.new(
  model: 'Book',
  existing_scopes: current_scopes,
  sort_column: :sort_title,
  current_letter: params[:letter]
  ) %>

<%= page_title(
  render(BookIndexTitleComponent.new(params:)),
  '', 'heading2') %>

<div class="flex">

  <%= render SortComponent.new(
    model: 'Book',
    field: :sort_title,
    existing_scopes: current_scopes
  ) %>

  <%= render SortComponent.new(
    model: 'Book',
    field: :created_at,
    existing_scopes: current_scopes
  ) %>

  <%= render SortComponent.new(
    model: 'Book',
    field: :updated_at,
    existing_scopes: current_scopes
  ) %>

  <%#= render SortComplexComponent.new(
    model: 'Book',
    field: :sort_name,
    existing_scopes: current_scopes,
    associated_model: 'Author'
  ) %>

  <%= render SortComponent.new(
    model: 'Book',
    field: :year,
    existing_scopes: current_scopes
  ) %>

  <%#= render SortComponent.new(
    model: 'Book',
    field: :publisher,
    existing_scopes: current_scopes
  ) %>

  <%= render SortComponent.new(
    model: 'Book',
    field: :rating,
    existing_scopes: current_scopes
  ) %>

  <%= render SortComponent.new(
    model: 'Book',
    field: :condition,
    existing_scopes: current_scopes
  ) %>

</div>

<%= turbo_frame_tag 'page' %>
<nav class="pagination list-select-type">
  <span class="page">
    <%= link_to scoped_books_path(show: 'grid'), title: 'Display as grid', class: 'list-select-item' do %>
      <%= inline_svg_tag 'grid.svg', class: 'smallicon' %>
    <% end %>
  </span>
  <span class="page">
    <%= link_to scoped_books_path(show: 'list'), title: 'Display as list', class: 'list-select-item' do %>
      <%= inline_svg_tag 'list.svg', class: 'smallicon' %>
    <% end %>
  </span>
</nav>
<% if params[:show] == 'list' %>
  <ul class="itemlist" id="books">
    <%= render @books %>
  </ul>
<% else %>
  <div class="flexlist" id="books">
    <%= render @books %>
  </div>
<% end %>


<%= render 'shared/pager', pagy: @pagy, model_path: books_path(page: @pagy.next, show: params[:show]) %>

