<%= page_title('All Books','', 'heading2') %>

<%= turbo_frame_tag 'page' %>
<nav class="pagination list-select-type">
  <span class="page">
    <%= link_to books_path(show: 'grid'), title: 'Display as grid', class: 'list-select-item' do %>
      <%= inline_svg_tag 'grid.svg', class: 'smallicon' %>
    <% end %>
  </span>
  <span class="page">
    <%= link_to books_path(show: 'list'), title: 'Display as list', class: 'list-select-item' do %>
      <%= inline_svg_tag 'list.svg', class: 'smallicon' %>
    <% end %>
  </span>
</nav>
<% if params[:show] == 'list' %>
  <ul class="booklist" id="books">
    <%= render @books %>
  </ul>
<% else %>
  <div class="flexlist" id="books">
    <%= render @books %>
  </div>
<% end %>


<%= render 'shared/pager', pagy: @pagy %>

