<%= page_title('', @book.title, 'heading2') %>

<div class="bookdetails">
  <div class="cover-large">
    <%= cover_image(@book, size: "large") %>
  </div>
  <div class="bookdetails__text">
    <div class="bookdetails__text-title">
      <h1 class="heading3">
        <%= @book.title %>
      </h1>
        <% if logged_in? && @book.user == current_user %>
          <%= render 'shared/crud_icons',
            edit_path: edit_book_path(@book),
            delete_path: book_path(@book),
            item_name: @book.title,
            url: "/books/#{@book.id}",
            redirect_url: "/books",
            answer: "html"
          %>
        <% end %>
    </div>
    <h2 class="heading4"><%= original_title(@book) %></h2>
    <div class="medium-small">
      <%= @book.book_format.name %>
      <%= @book.edition %>
      <%= @book.year %>
    </div>
    <div class="genre-list">
      <% @book.genres.each do |g| %>
        <%= render 'genres/genre_tag', genre: g %>
      <% end %>
    </div>
    <div class="bookdetails__meta">
      <div>
        Condition: <%= @book.condition.humanize %>
      </div>
      <div>
        Rating: <%= rating_stars(@book.rating_before_type_cast) %> (<%= @book.rating.humanize %>)
      </div>
    </div>
    <div class="margin-1">
      <%= link_to 'Owned by ' + @book.user.name, user_path(@book.user), class: 'color-accent-dark color-hover-accent' %>
    </div>
    <%= book_synopsis(@book) %>
  </div>
</div>
