<div>
<%= image_tag @book.cover.variant(resize_to_limit: [150, 150]) %>
</div>
<div>
  <%= @book.title %>
  <%= original_title(@book) %>
</div>
<div>
  <%= @book.year %>
  <%= @book.edition %>
</div>
<div>
  Condition: <%= @book.condition %>
  Rating: <%= @book.rating %>
</div>

