<%= page_title('', @book.title, 'heading2') %>

<div class="bookdetails">
  <div class="cover-container">
    <div class="cover-large">
      <%= render BookCoverComponent.new(book: @book, size: :large, link: true) %>
    </div>
  </div>
  <div class="bookdetails__text">
    <div class="bookdetails__text-title">
      <h1 class="heading3">
        <%= @book.title %><br />
        <%= @book.decorate.all_authors_link(styles: 'color-accent-dark color-hover-accent'
        ) %>
      </h1>
        <% if owner_signed_in? && @book.owner == current_owner %>
          <%= render 'shared/crud_icons',
            edit_path: edit_book_path(@book),
            delete_path: book_path(@book),
            item_name: @book.title,
            url: "/books/#{@book.id}",
            redirect_url: '/books',
            edit_answer: 'html',
            delete_answer: 'html'
          %>
        <% end %>
    </div>
    <%= @book.decorate.show_original_title(wrapper: 'h2', wrapper_styles: 'heading4') %>
    <div class="medium-small">
      <%= @book.book_format.name %> |
      <%= @book.edition %>
      <%= @book.country %>
      <%= @book.year %>
    </div>
    <%= @book.decorate.publisher_link(
      styles: 'color-accent-dark color-hover-accent',
      wrapper: 'div',
      wrapper_styles: 'medium'
    ) %>
    <div class="genre-list">
      <% @book.genres.each do |g| %>
        <%= render 'genres/genre_tag', genre: g %>
      <% end %>
    </div>
    <% if @book.owner == current_owner %>
      <div class="tag-list">
        <% @book.tags.each do |t| %>
          <%= render 'tags/tag_tag', tag: t %>
        <% end %>
      </div>
    <% end %>
    <div class="bookdetails__meta">
      <div>
        Condition: <%= @book.condition.humanize %>
      </div>
      <div>
        Rating: <%= rating_stars(@book.rating_before_type_cast) %> (<%= @book.rating.humanize %>)
      </div>
    </div>
    <div class="margin-1">
      <%= link_to "Owned by #{@book.owner.name}",
        profile_path(@book.owner.profile.id),
        class: 'color-accent-dark color-hover-accent' %>
      <%== show_shelf(@book) %>
    </div>
    <% if @book.isbn.present? %>
      <%= form_with url: cover_search_create_path, method: :post, class: 'margin-bottom-1', data: {turbo: false} do |f| %>
        <input type="hidden" name="isbn" value="<%= @book.isbn %>" />
        <input type="hidden" name="book_id" value="<%= @book.id %>" />

        <%= f.submit 'Find Better Cover', class: 'btn small' %>
    <% end %>
    <% end %>
    <%= @book.decorate.show_synopsis(
      wrapper: 'div',
      wrapper_styles: 'bookdetails__synposis',
      title: true) %>
  </div>
</div>
