<div>
  <%= @book.title %>
  <%= original_title(@book) %>
</div>
<div>
  <%= @book.year %>
  <%= @book.edition %>
</div>
<div>
  Condition: <%= @book.condition %>
  Rating: <%= @book.rating %>
</div>

