<div class="bookdetails">
  <div class="cover-large">
    <%= cover_image(@book, size: "large") %>
  </div>
  <div class="bookdetails__text">
    <div class="bookdetails__text-title">
      <h1 class="heading3">
        <%= @book.title %>
      </h1>
        <% if logged_in? %>
          <%= render 'shared/crud_icons',
            edit_path: edit_book_path(@book),
            delete_path: book_path(@book),
            item_name: @book.title,
            url: "/books/#{@book.id}",
            redirect_url: "/books",
            answer: "html",
            use_turbo: false
          %>
        <% end %>
    </div>
    <h2 class="heading4"><%= original_title(@book) %></h2>
    <div class="medium-small">
      <%= @book.book_format.name %>
      <%= @book.edition %>
      <%= @book.year %>
    </div>
    <div class="genre-list">
      <span class="genre">
        <a href="#">
          <%= inline_svg_tag 'tag.svg', class: 'smallicon' %>
          Genre 1
        </a>
      </span>
      <span class="genre">
        <a href="#">
          <%= inline_svg_tag 'tag.svg', class: 'smallicon' %>
          Genre 2
        </a>
      </span>
      <span class="genre">
        <a href="#">
          <%= inline_svg_tag 'tag.svg', class: 'smallicon' %>
          Genre 3
        </a>
      </span>
    </div>
    <div class="bookdetails__meta">
      <div>
        Condition: <%= @book.condition.humanize %>
      </div>
      <div>
        Rating: <%= rating_stars(@book.rating_before_type_cast) %> (<%= @book.rating.humanize %>)
      </div>
    </div>
    <div class="margin-1">
      <%= link_to 'Owned by ' + @book.user.name, user_path(@book.user), class: 'color-accent-dark color-hover-accent' %>
    </div>
    <%= book_synopsis(@book) %>
  </div>
</div>
