<%= page_title('', @book.title, 'heading2') %>

<div class="bookdetails">
  <div class="cover-container">
    <div class="cover-large">
      <%= render BookCoverComponent.new(book: @book, size: :large, link: true) %>
    </div>
  </div>
  <div class="bookdetails__text">
    <div class="bookdetails__text-title">
      <h1 class="heading3">
        <%= @book.title %><br />
        <%= render AuthorListComponent.new(book: @book, type: :list) %>
      </h1>
        <% if owner_signed_in? && @book.owner == current_owner %>
          <%= render 'shared/crud_icons',
            edit_path: edit_book_path(@book),
            delete_path: book_path(@book),
            item_name: @book.title,
            url: "/books/#{@book.id}",
            redirect_url: '/books',
            edit_answer: 'html',
            delete_answer: 'html'
          %>
        <% end %>
    </div>
    <% if @book.original_title.present? %>
      <h2 class="heading4">
        (<%= @book.original_title %>)
      </h2>
    <% end %>
    <div class="medium-small">
      <%= @book.book_format.name %> |
      <%= @book.edition %>
      <%= @book.country %>
      <%= @book.year %>
    </div>
    <% if @book.publisher %>
      <div class="medium">
        <%= link_to @book.publisher.name,
          publisher_path(@book.publisher),
          class: 'color-accent-dark color-hover-accent' %>
      </div>
    <% end %>
    <div class="genre-list">
      <% @book.genres.each do |g| %>
        <%= render 'genres/genre_tag', genre: g %>
      <% end %>
    </div>
    <% if @book.owner == current_owner %>
      <div class="tag-list">
        <% @book.tags.each do |t| %>
          <%= render 'tags/tag_tag', tag: t %>
        <% end %>
      </div>
    <% end %>
    <div class="bookdetails__meta">
      <div>
        Condition: <%= @book.condition.humanize %>
      </div>
      <div>
        Rating:
        <%= render StarRatingComponent.new(rated: @book, humanized: true) %>
      </div>
    </div>
    <div class="margin-1">
      <%= link_to "Owned by #{@book.owner.name}",
        profile_path(@book.owner.profile.id),
        class: 'color-accent-dark color-hover-accent' %>
      <% if owner_signed_in? %>
        <%= render ShowShelfComponent.new(book: @book, owner: current_owner) %>
      <% end %>
    </div>
    <% if @book.isbn.present? %>
      <%= form_with url: cover_search_create_path, method: :post, class: 'margin-bottom-1', data: {turbo: false} do |f| %>
        <input type="hidden" name="isbn" value="<%= @book.isbn %>" />
        <input type="hidden" name="book_id" value="<%= @book.id %>" />

        <%= f.submit 'Find Better Cover', class: 'btn small' %>
    <% end %>
    <% end %>
    <div class="bookdetails__synopsis">
      <%= render ShowSynopsisComponent.new(book: @book) %>
    </div>
  </div>
</div>
