<%= page_title('Settings', '', 'heading3') %>

<%= render 'settings/settings_menu' %>
  <div class="submenucontent">
    <h3 class="heading4">All Tags</h3>
    <ul class="simple-list width-66 margin-bottom-1" id="tags">
      <%= render 'new_form_entry' %>
      <% if @tags.size > 0 %>
        <%= turbo_frame_tag 'format-list' do %>
          <%= render @tags %>
        <% end %>
      <% else %>
        <div class="margin-top-1">No tags</div>
      <% end %>
    </ul>
  </div>
</div>
