<%= page_title("All Tags for owner #{@current_owner.name}",'', 'heading2') %>

<%= turbo_frame_tag 'page' %>
<nav class="pagination list-select-type">
  <span class="page">
    <%= link_to tags_path(list: 'books'), title: 'Show Books', class: 'list-select-item' do %>
      <%= inline_svg_tag 'book.svg', class: 'smallicon' %>
    <% end %>
  </span>
  <span class="page">
    <%= link_to tags_path(list: 'authors'), title: 'Show Authors', class: 'list-select-item' do %>
      <%= inline_svg_tag 'person.svg', class: 'smallicon' %>
    <% end %>
  </span>
</nav>
<div class="flexlist" id="tags">
  <% @tags.each do |tag| %>
    <%= render 'tagcard', tag: tag  %>
  <% end %>
</div>

<%= render 'shared/pager',
  pagy: @pagy,
  model_path: tags_path(
    params: current_scopes.merge(
      page: @pagy.next,
      letter: params[:letter],
      sort_by: params[:sort_by],
      sort_dir: params[:sort_dir],
      show: params[:show]
    )
) %>
