<%= page_title('', "Everything tagged '#{@tag.name}'", 'heading2') %>

<div class="flexlist">
  <h1 class="heading2">Everything tagged '<%= @tag.name %>'</h1>
  <div class="icons">
    <%= render 'shared/delete_icon',
      delete_path: tag_path(@tag),
      item_name: @tag.name,
      url: "/tags/#{@tag.id}",
      redirect_url: '/tags?show=books',
      answer: 'html' %>
  </div>
</div>

<div class="tabs margin-top-1">
  <ul>
    <li class="placeholder-tab">&nbsp;</li>
    <li class="content-tab <%= params[:list] == 'books' ? 'active' : '' %>">
      <%= link_to 'Books', tag_path(@tag, list: 'books') %>
    </li>
    <li class="placeholder-tab">&nbsp;</li>
    <li class="content-tab <%= params[:list] == 'authors' ? 'active' : '' %>">
      <%= link_to 'Authors', tag_path(@tag, list: 'authors') %>
    </li>
    <li class="placeholder-tab">&nbsp;</li>
  </ul>
</div>


<%= turbo_frame_tag @tag do %>
  <% if params[:list] == 'authors' %>
    <%= render 'details_author' %>
  <% else %>
    <%= render 'details_book' %>
  <% end %>
<% end %>
