<%= page_title('Settings', '', 'heading3') %>

<%= render 'settings/settings_menu' %>
  <div class="submenucontent">
    <h3 class="heading4">Available book formats</h3>
    <ul class="simple-list width-50" id="book-formats">
      <%= render 'new_form_entry' %>
      <%= turbo_frame_tag 'format-list' do %>
        <ul>
          <%= render @book_formats %>
        </ul>
      <% end %>
    </ul>

    <h3 class="heading4 margin-top-1 margin-bottom-50">Default Book Format</h3>
    <ul class="simple-list width-50">
      <li>
        <%= turbo_frame_tag 'default-format' do %>
          <%= render 'book_formats/set_default_form' %>
        <% end %>
      </li>
    </ul>
  </div>
</div>


