<%= turbo_frame_tag 'settings-content' do %>
  <h3 class="heading4">Available book formats</h3>
  <ul class="simple-list width-33" id="book-formats">
  <%= render 'new_form_entry' %>
    <%= render @book_formats %>
  </ul>

  <h3 class="heading4 margin-top-1 margin-bottom-50">Default Book Format</h3>
  <div class="width-25">
    <%= turbo_frame_tag 'default-format' do %>
      <%= @default_book_format.name %>
      <%= link_to 'Change', set_default_book_formats_path %>
    <% end %>
  </div>

<% end %>

