<%= page_title('Search Results','', 'heading2') %>

<% if @results.size == 0 %>
  <p>No results found.
    <%= link_to 'Try another search', isbn_search_new_path, class: 'color-accent-dark color-hover-accent-light' %>
  </p>
<% else %>
  <p class="small">Click a title to create the book in the database.</p>
  <ul class="itemlist margin-bottom-1">
    <% @results.each do |result| %>
      <li class="itemlist__item itemlist__border">
        <div class="itemlist__cover search_cover">
          <%= render 'isbn_search/resultpreview', picture: result[:image_url] %>
        </div>
        <div class="itemlist__title">
          <%= form_with url: isbn_create_create_path, method: :post, data: {turbo: false} do |f| %>
            <%= f.hidden_field :identifier, value: result[:source_id], id: "identifier-#{result[:ASIN]}" %>
            <%= f.submit result[:title], class: 'nobutton color-accent-dark color-hover-accent' %>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
  <%= link_to 'Try another Search', isbn_search_new_path, class: 'button-color-accent' %>
<% end %>
