<%= page_title(t('.sign_in'),'', 'heading2') %>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= render 'shared/form_errors', form: f %>

  <div class='big-form width-50'>
    <div class='form-col'>
      <%= f.input :email,
                  required: false,
                  autofocus: true,
                  placeholder: t('.email'),
                  label: false,
                  input_html: { autocomplete: 'email' } %>
      <%= f.input :password,
                  required: false,
                  placeholder: t('.password'),
                  label: false,
                  input_html: { autocomplete: 'current-password' } %>
      <% if devise_mapping.rememberable? %>
        <div class='input checkbox-container'>
          <span class='check'>
            <%= f.check_box :remember_me, class: 'hidden-button' %>
            <label id='label_remember_me' for='owner_remember_me'>
              <span class='fake-button'>
              </span>
              <%= t('.remember_me') %>
            </label>
          </span>
        </div>
      <% end %>
      <%= f.button :submit, t('.sign_in') %>
      <div class='margin-top-50 flexlist'>
        <%= render 'devise/shared/links' %>
      </div>
    </div>
  </div>
<% end %>
