<h3 class="heading3"><%= t('Stats.authors.title') %></h3>

<nav class="tabs">
  <ul>
    <li class="placeholder-tab">&nbsp;</li>
    <li class="content-tab <%= 'active' if current_page?(stats_path(list: 'authors', type: 'age'), check_parameters: true) %>">
      <%= link_to t('Stats.authors.by_age'),
        stats_path(list: 'authors', type: 'age'),
        target: :author_statistics %>
    </li>
    <li class="placeholder-tab">&nbsp;</li>
    <li class="content-tab <%= 'active' if current_page?(stats_path(list: 'authors', type: 'alive'), check_parameters: true) %>">
      <%= link_to t('Stats.authors.by_alive'),
        stats_path(list: 'authors', type: 'alive'),
        target: :author_statistics %>
    </li>
    <li class="placeholder-tab">&nbsp;</li>
    <li class="content-tab <%= 'active' if current_page?(stats_path(list: 'authors', type: 'gender'), check_parameters: true) %>">
      <%= link_to t('Stats.authors.by_gender'),
        stats_path(list: 'authors', type: 'gender'),
        target: :author_statistics %>
    </li>
    <li class="placeholder-tab">&nbsp;</li>
    <li class="content-tab <%= 'active' if current_page?(stats_path(list: 'authors', type: 'rating'), check_parameters: true) %>">
      <%= link_to t('Stats.authors.by_rating'),
        stats_path(list: 'authors', type: 'rating'),
        target: :author_statistics %>
    </li>
    <li class="placeholder-tab">&nbsp;</li>
    <li class="content-tab <%= 'active' if current_page?(stats_path(list: 'authors', type: 'books'), check_parameters: true) %>">
      <%= link_to t('Stats.authors.by_books'),
        stats_path(list: 'authors', type: 'books'),
        target: :author_statistics %>
    </li>
    <li class="placeholder-tab">&nbsp;</li>
  </ul>
</nav>

<%= turbo_frame_tag :author_statistics do %>
  <%= render 'stats/authors/index' %>
<% end %>
