<h3 class="heading3"><%= t('Stats.books.title') %></h3>

<nav class="tabs">
  <ul>
    <li class="placeholder-tab">&nbsp;</li>
    <li class="content-tab <%= 'active' if current_page?(stats_path(list: 'books', type: 'year'), check_parameters: true) %>">
      <%= link_to t('Stats.books.by_year'),
        stats_path(list: 'books', type: 'year'),
        target: :book_statistics %>
    </li>
    <li class="placeholder-tab">&nbsp;</li>
    <li class="content-tab <%= 'active' if current_page?(stats_path(list: 'books', type: 'genre'), check_parameters: true) %>">
      <%= link_to t('Stats.books.by_genre'),
        stats_path(list: 'books', type: 'genre'),
        target: :book_statistics %>
    </li>
    <li class="placeholder-tab">&nbsp;</li>
    <li class="content-tab <%= 'active' if current_page?(stats_path(list: 'books', type: 'publisher'), check_parameters: true) %>">
      <%= link_to t('Stats.books.by_publisher'),
        stats_path(list: 'books', type: 'publisher'),
        target: :book_statistics %>
    </li>
    <li class="placeholder-tab">&nbsp;</li>
    <li class="content-tab <%= 'active' if current_page?(stats_path(list: 'books', type: 'format'), check_parameters: true) %>">
      <%= link_to t('Stats.books.by_format'),
        stats_path(list: 'books', type: 'format'),
        target: :book_statistics %>
    </li>
    <li class="placeholder-tab">&nbsp;</li>
    <li class="content-tab <%= 'active' if current_page?(stats_path(list: 'books', type: 'country'), check_parameters: true) %>">
      <%= link_to t('Stats.books.by_country'),
        stats_path(list: 'books', type: 'country'),
        target: :book_statistics %>
    </li>
    <li class="placeholder-tab">&nbsp;</li>
    <li class="content-tab <%= 'active' if current_page?(stats_path(list: 'books', type: 'rating'), check_parameters: true) %>">
      <%= link_to t('Stats.books.by_rating'),
        stats_path(list: 'books', type: 'rating'),
        target: :book_statistics %>
    </li>
    <li class="placeholder-tab">&nbsp;</li>
    <li class="content-tab <%= 'active' if current_page?(stats_path(list: 'books', type: 'condition'), check_parameters: true) %>">
      <%= link_to t('Stats.books.by_condition'),
        stats_path(list: 'books', type: 'condition'),
        target: :book_statistics %>
    </li>
    <% if current_owner %>
      <li class="placeholder-tab">&nbsp;</li>
      <li class="content-tab <%= 'active' if current_page?(stats_path(list: 'books', type: 'shelf'), check_parameters: true) %>">
        <%= link_to t('Stats.books.by_shelf'),
          stats_path(list: 'books', type: 'shelf'),
          target: :book_statistics %>
      </li>
    <% end %>
    <li class="placeholder-tab">&nbsp;</li>
  </ul>
</nav>

<%= turbo_frame_tag :book_statistics do %>
  <%= render 'stats/books/book' %>
<% end %>

