<%= page_title(t('Stats.index.title'),'', 'heading2') %>

<nav class="pagination list-select-type">
  <span class="page">
    <%= link_to stats_path(list: 'books', type: 'years'),
      title: t('Stats.index.show_books'),
      class: 'list-select-item' do %>
      <%= inline_svg_tag 'book.svg', class: 'smallicon' %>
    <% end %>
  </span>
  <span class="page">
    <%= link_to stats_path(list: 'authors', type: 'age'),
      title: t('Stats.index.show_authors'),
      class: 'list-select-item' do %>
      <%= inline_svg_tag 'person.svg', class: 'smallicon' %>
    <% end %>
  </span>
</nav>

<div
  class="margin-top-1 margin-left-50 margin-right-50"
  data-controller="chart-select"
  data-chart-select-id-value="statChart">
  <%= params[:list] == 'authors' ? render('stats/authors') : render('stats/books') %>
</div>
