<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :browser_title %><%= t('application.sitetitle') %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "main", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render "shared/flash" %>
    <div class="container" data-controller="burgermenu">
      <%= render 'shared/sidebar' %>
      <div class="content">
        <%= render 'shared/title' %>
        <main class="main">
        <%= render ShelfMenuComponent.new(owner: current_owner) if params[:controller] == 'books' && params[:action] == 'index' %>
            <%= yield :title %>
            <%= yield %>
        </main>
        <%= render 'shared/footer' %>
      </div>
    </div>
  </body>
</html>
